
<div>
    <h2><span translate="safhApp.internacoes.detail.title">Internacoes</span> {{vm.internacoes.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="safhApp.internacoes.dataInternacao">Data Internacao</span></dt>
        <dd>
            <span>{{vm.internacoes.dataInternacao | date:'mediumDate'}}</span>
        </dd>
        <dt><span translate="safhApp.internacoes.descricao">Descricao</span></dt>
        <dd>
            <span>{{vm.internacoes.descricao}}</span>
        </dd>
        <dt><span translate="safhApp.internacoes.pacientes">Pacientes</span></dt>
        <dd>
            <a ui-sref="pacientes-detail({id:vm.internacoes.pacientes.id})">{{vm.internacoes.pacientes.nome}}</a>
        </dd>
        <dt><span translate="safhApp.internacoes.clinicas">Clinicas</span></dt>
        <dd>
            <a ui-sref="clinicas-detail({id:vm.internacoes.clinicas.id})">{{vm.internacoes.clinicas.clinica}}</a>
        </dd>
        <dt><span translate="safhApp.internacoes.medicos">Medicos</span></dt>
        <dd>
            <a ui-sref="medicos-detail({id:vm.internacoes.medicos.id})">{{vm.internacoes.medicos.nome}}</a>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
