
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInternacoesLabel" translate="safhApp.internacoes.home.createOrEditLabel">Create or edit a Internacoes</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.internacoes.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.internacoes.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.internacoes.dataInternacao" for="field_dataInternacao">Data Internacao</label>
                <div class="input-group">
                    <input id="field_dataInternacao" type="text" class="form-control" name="dataInternacao" uib-datepicker-popup="{{dateformat}}" ng-model="vm.internacoes.dataInternacao" is-open="vm.datePickerOpenStatus.dataInternacao"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataInternacao')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dataInternacao.$invalid">
                <p class="help-block"
                    ng-show="editForm.dataInternacao.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.internacoes.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                    ng-model="vm.internacoes.descricao"
                    required ng-maxlength="200" />
            <div ng-show="editForm.descricao.$invalid">
                <p class="help-block"
                    ng-show="editForm.descricao.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.descricao.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="safhApp.internacoes.pacientes" for="field_pacientes">Pacientes</label>
            <select class="form-control" id="field_pacientes" name="pacientes" ng-model="vm.internacoes.pacientes" ng-options="pacientes as pacientes.nome for pacientes in vm.pacientes track by pacientes.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="safhApp.internacoes.clinicas" for="field_clinicas">Clinicas</label>
            <select class="form-control" id="field_clinicas" name="clinicas" ng-model="vm.internacoes.clinicas" ng-options="clinicas as clinicas.clinica for clinicas in vm.clinicas track by clinicas.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="safhApp.internacoes.medicos" for="field_medicos">Medicos</label>
            <select class="form-control" id="field_medicos" name="medicos" ng-model="vm.internacoes.medicos" ng-options="medicos as medicos.nome for medicos in vm.medicos track by medicos.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
