<div>
    <h2 translate="safhApp.internacoes.home.title">Internacoes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="internacoes.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="safhApp.internacoes.home.createLabel">
                        Create new Internacoes
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'safhApp.internacoes.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataInternacao"><span translate="safhApp.internacoes.dataInternacao">Data Internacao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descricao"><span translate="safhApp.internacoes.descricao">Descricao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pacientes.nome"><span translate="safhApp.internacoes.pacientes">Pacientes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="clinicas.clinica"><span translate="safhApp.internacoes.clinicas">Clinicas</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="medicos.nome"><span translate="safhApp.internacoes.medicos">Medicos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="internacoes in vm.internacoes track by internacoes.id">
                    <td><a ui-sref="internacoes-detail({id:internacoes.id})">{{internacoes.id}}</a></td>
                        <td>{{internacoes.dataInternacao | date:'mediumDate'}}</td>
                    <td>{{internacoes.descricao}}</td>
                    <td>
                        <a ui-sref="pacientes-detail({id:internacoes.pacientes.id})">{{internacoes.pacientes.nome}}</a>
                    </td>
                    <td>
                        <a ui-sref="clinicas-detail({id:internacoes.clinicas.id})">{{internacoes.clinicas.clinica}}</a>
                    </td>
                    <td>
                        <a ui-sref="medicos-detail({id:internacoes.medicos.id})">{{internacoes.medicos.nome}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="internacoes-detail({id:internacoes.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="internacoes.edit({id:internacoes.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="internacoes.delete({id:internacoes.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
