*.jar
*.war
*.ear
*.db
.svn
######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar
/target/
.metadata
.settings
.project
.classpath
/bin

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

node_modules
.idea
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
/.project
test/temp/
npm-debug.log

