
<div *ngIf="internacoesDetalhes">
    <h2><span jhiTranslate="safhApp.internacoesDetalhes.detail.title">Internacoes Detalhes</span> {{internacoesDetalhes.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="safhApp.internacoesDetalhes.dataDetalhe">Data Detalhe</span></dt>
        <dd>
            <span>{{internacoesDetalhes.dataDetalhe | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.internacoesDetalhes.horario">Horario</span></dt>
        <dd>
            <span>{{internacoesDetalhes.horario | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.internacoesDetalhes.qtd">Qtd</span></dt>
        <dd>
            <span>{{internacoesDetalhes.qtd}}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.internacoesDetalhes.internacoes">Internacoes</span></dt>
        <dd>
            <div *ngIf="internacoesDetalhes.internacoes">
                <a [routerLink]="['/internacoes', internacoesDetalhes.internacoes?.id]">{{internacoesDetalhes.internacoes?.descricao}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="safhApp.internacoesDetalhes.dietas">Dietas</span></dt>
        <dd>
            <div *ngIf="internacoesDetalhes.dietas">
                <a [routerLink]="['/dietas', internacoesDetalhes.dietas?.id]">{{internacoesDetalhes.dietas?.dieta}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="safhApp.internacoesDetalhes.prescricoes">Prescricoes</span></dt>
        <dd>
            <div *ngIf="internacoesDetalhes.prescricoes">
                <a [routerLink]="['/prescricoes', internacoesDetalhes.prescricoes?.id]">{{internacoesDetalhes.prescricoes?.prescricao}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="safhApp.internacoesDetalhes.posologias">Posologias</span></dt>
        <dd>
            <div *ngIf="internacoesDetalhes.posologias">
                <a [routerLink]="['/posologias', internacoesDetalhes.posologias?.id]">{{internacoesDetalhes.posologias?.posologia}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'internacoes-detalhes/'+ internacoesDetalhes.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
