<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInternacoesDetalhesLabel" jhiTranslate="safhApp.internacoesDetalhes.home.createOrEditLabel">Create or edit a Internacoes Detalhes</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!internacoesDetalhes.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="internacoesDetalhes.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safhApp.internacoesDetalhes.dataDetalhe" for="field_dataDetalhe">Data Detalhe</label>
            <div class="input-group">
                <input id="field_dataDetalhe" type="text" class="form-control" name="dataDetalhe" ngbDatepicker  #dataDetalheDp="ngbDatepicker" [(ngModel)]="internacoesDetalhes.dataDetalhe"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dataDetalheDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dataDetalhe?.dirty && editForm.controls.dataDetalhe?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dataDetalhe?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safhApp.internacoesDetalhes.horario" for="field_horario">Horario</label>
            <div class="input-group">
                <input id="field_horario" type="text" class="form-control" name="horario" ngbDatepicker  #horarioDp="ngbDatepicker" [(ngModel)]="internacoesDetalhes.horario"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="horarioDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.horario?.dirty && editForm.controls.horario?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.horario?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safhApp.internacoesDetalhes.qtd" for="field_qtd">Qtd</label>
            <input type="number" class="form-control" name="qtd" id="field_qtd"
                [(ngModel)]="internacoesDetalhes.qtd" required />
            <div [hidden]="!(editForm.controls.qtd?.dirty && editForm.controls.qtd?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.qtd?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.qtd?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safhApp.internacoesDetalhes.internacoes" for="field_internacoes">Internacoes</label>
            <select class="form-control" id="field_internacoes" name="internacoes" [(ngModel)]="internacoesDetalhes.internacoes" >
                <option [ngValue]="null"></option>
                <option [ngValue]="internacoesOption.id === internacoesDetalhes.internacoes?.id ? internacoesDetalhes.internacoes : internacoesOption" *ngFor="let internacoesOption of internacoes; trackBy: trackInternacoesById">{{internacoesOption.descricao}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safhApp.internacoesDetalhes.dietas" for="field_dietas">Dietas</label>
            <select class="form-control" id="field_dietas" name="dietas" [(ngModel)]="internacoesDetalhes.dietas" >
                <option [ngValue]="null"></option>
                <option [ngValue]="dietasOption.id === internacoesDetalhes.dietas?.id ? internacoesDetalhes.dietas : dietasOption" *ngFor="let dietasOption of dietas; trackBy: trackDietasById">{{dietasOption.dieta}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safhApp.internacoesDetalhes.prescricoes" for="field_prescricoes">Prescricoes</label>
            <select class="form-control" id="field_prescricoes" name="prescricoes" [(ngModel)]="internacoesDetalhes.prescricoes" >
                <option [ngValue]="null"></option>
                <option [ngValue]="prescricoesOption.id === internacoesDetalhes.prescricoes?.id ? internacoesDetalhes.prescricoes : prescricoesOption" *ngFor="let prescricoesOption of prescricoes; trackBy: trackPrescricoesById">{{prescricoesOption.prescricao}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safhApp.internacoesDetalhes.posologias" for="field_posologias">Posologias</label>
            <select class="form-control" id="field_posologias" name="posologias" [(ngModel)]="internacoesDetalhes.posologias" >
                <option [ngValue]="null"></option>
                <option [ngValue]="posologiasOption.id === internacoesDetalhes.posologias?.id ? internacoesDetalhes.posologias : posologiasOption" *ngFor="let posologiasOption of posologias; trackBy: trackPosologiasById">{{posologiasOption.posologia}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
