<div>
    <h2 translate="safhApp.internacoesDetalhes.home.title">Internacoes Detalhes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="internacoes-detalhes.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="safhApp.internacoesDetalhes.home.createLabel">
                        Create new Internacoes Detalhes
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'safhApp.internacoesDetalhes.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataDetalhe"><span translate="safhApp.internacoesDetalhes.dataDetalhe">Data Detalhe</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="horario"><span translate="safhApp.internacoesDetalhes.horario">Horario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtd"><span translate="safhApp.internacoesDetalhes.qtd">Qtd</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="internacoes.descricao"><span translate="safhApp.internacoesDetalhes.internacoes">Internacoes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dietas.dieta"><span translate="safhApp.internacoesDetalhes.dietas">Dietas</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prescricoes.prescricao"><span translate="safhApp.internacoesDetalhes.prescricoes">Prescricoes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="posologias.posologia"><span translate="safhApp.internacoesDetalhes.posologias">Posologias</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="internacoesDetalhes in vm.internacoesDetalhes track by internacoesDetalhes.id">
                    <td><a ui-sref="internacoes-detalhes-detail({id:internacoesDetalhes.id})">{{internacoesDetalhes.id}}</a></td>
                        <td>{{internacoesDetalhes.dataDetalhe | date:'mediumDate'}}</td>
                        <td>{{internacoesDetalhes.horario | date:'mediumDate'}}</td>
                    <td>{{internacoesDetalhes.qtd}}</td>
                    <td>
                        <a ui-sref="internacoes-detail({id:internacoesDetalhes.internacoes.id})">{{internacoesDetalhes.internacoes.descricao}}</a>
                    </td>
                    <td>
                        <a ui-sref="dietas-detail({id:internacoesDetalhes.dietas.id})">{{internacoesDetalhes.dietas.dieta}}</a>
                    </td>
                    <td>
                        <a ui-sref="prescricoes-detail({id:internacoesDetalhes.prescricoes.id})">{{internacoesDetalhes.prescricoes.prescricao}}</a>
                    </td>
                    <td>
                        <a ui-sref="posologias-detail({id:internacoesDetalhes.posologias.id})">{{internacoesDetalhes.posologias.posologia}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="internacoes-detalhes-detail({id:internacoesDetalhes.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="internacoes-detalhes.edit({id:internacoesDetalhes.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="internacoes-detalhes.delete({id:internacoesDetalhes.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
