<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dietas">
      <h2 data-cy="dietasDetailsHeading"><span jhiTranslate="safhApp.dietas.detail.title">Dietas</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dietas.id }}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.dietas.dieta">Dieta</span></dt>
        <dd>
          <span>{{ dietas.dieta }}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.dietas.descricao">Descricao</span></dt>
        <dd>
          <span>{{ dietas.descricao }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/dietas', dietas.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
