<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="medicos">
      <h2 data-cy="medicosDetailsHeading"><span jhiTranslate="safhApp.medicos.detail.title">Medicos</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ medicos.id }}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.medicos.nome">Nome</span></dt>
        <dd>
          <span>{{ medicos.nome }}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.medicos.crm">Crm</span></dt>
        <dd>
          <span>{{ medicos.crm }}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.medicos.cpf">Cpf</span></dt>
        <dd>
          <span>{{ medicos.cpf }}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.medicos.email">Email</span></dt>
        <dd>
          <span>{{ medicos.email }}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.medicos.cep">Cep</span></dt>
        <dd>
          <span>{{ medicos.cep }}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.medicos.logradouro">Logradouro</span></dt>
        <dd>
          <span>{{ medicos.logradouro }}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.medicos.numero">Numero</span></dt>
        <dd>
          <span>{{ medicos.numero }}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.medicos.complemento">Complemento</span></dt>
        <dd>
          <span>{{ medicos.complemento }}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.medicos.bairro">Bairro</span></dt>
        <dd>
          <span>{{ medicos.bairro }}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.medicos.cidade">Cidade</span></dt>
        <dd>
          <span>{{ medicos.cidade }}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.medicos.uF">U F</span></dt>
        <dd>
          <span jhiTranslate="{{ 'safhApp.Estados.' + medicos.uF }}">{{ medicos.uF }}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.medicos.especialidades">Especialidades</span></dt>
        <dd>
          <div *ngIf="medicos.especialidades">
            <a [routerLink]="['/especialidades', medicos.especialidades?.id, 'view']">{{ medicos.especialidades?.especialidade }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/medicos', medicos.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
