
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInternacaoPacienteLabel" translate="safhApp.internacaoPaciente.home.createOrEditLabel">Create or edit a Internacao Paciente</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.internacaoPaciente.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.internacaoPaciente.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.internacaoPaciente.dataInternacao" for="field_dataInternacao">Data Internacao</label>
                <div class="input-group">
                    <input id="field_dataInternacao" type="text" class="form-control" name="dataInternacao" uib-datepicker-popup="{{dateformat}}" ng-model="vm.internacaoPaciente.dataInternacao" is-open="vm.datePickerOpenStatus.dataInternacao"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataInternacao')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dataInternacao.$invalid">
                <p class="help-block"
                    ng-show="editForm.dataInternacao.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="safhApp.internacaoPaciente.pacientes" for="field_pacientes">Pacientes</label>
            <select class="form-control" id="field_pacientes" name="pacientes" ng-model="vm.internacaoPaciente.pacientes" ng-options="pacientes as pacientes.nome for pacientes in vm.pacientes track by pacientes.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="safhApp.internacaoPaciente.nome" for="field_nome">Nome</label>
            <select class="form-control" id="field_nome" name="nome" ng-model="vm.internacaoPaciente.nome" ng-options="medicos as medicos.nome for medicos in vm.medicos track by medicos.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="safhApp.internacaoPaciente.evolucaoPaciente" for="field_evolucaoPaciente">Evolucao Paciente</label>
            <select class="form-control" id="field_evolucaoPaciente" name="evolucaoPaciente" ng-model="vm.internacaoPaciente.evolucaoPaciente" ng-options="evolucaoPaciente as evolucaoPaciente.descricao for evolucaoPaciente in vm.evolucaopacientes track by evolucaoPaciente.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="safhApp.internacaoPaciente.prescricaoPaciente" for="field_prescricaoPaciente">Prescricao Paciente</label>
            <select class="form-control" id="field_prescricaoPaciente" name="prescricaoPaciente" ng-model="vm.internacaoPaciente.prescricaoPaciente" ng-options="prescricaoPaciente as prescricaoPaciente.dataEntrada for prescricaoPaciente in vm.prescricaopacientes track by prescricaoPaciente.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
