<div>
    <h2 translate="safhApp.internacaoPaciente.home.title">Internacao Pacientes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="internacao-paciente.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="safhApp.internacaoPaciente.home.createLabel">
                        Create new Internacao Paciente
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'safhApp.internacaoPaciente.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataInternacao"><span translate="safhApp.internacaoPaciente.dataInternacao">Data Internacao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pacientes.nome"><span translate="safhApp.internacaoPaciente.pacientes">Pacientes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nome.nome"><span translate="safhApp.internacaoPaciente.nome">Nome</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evolucaoPaciente.descricao"><span translate="safhApp.internacaoPaciente.evolucaoPaciente">Evolucao Paciente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="internacaoPaciente in vm.internacaoPacientes track by internacaoPaciente.id">
                    <td><a ui-sref="internacao-paciente-detail({id:internacaoPaciente.id})">{{internacaoPaciente.id}}</a></td>
                        <td>{{internacaoPaciente.dataInternacao | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="pacientes-detail({id:internacaoPaciente.pacientes.id})">{{internacaoPaciente.pacientes.nome}}</a>
                    </td>
                    <td>
                        <a ui-sref="medicos-detail({id:internacaoPaciente.nome.id})">{{internacaoPaciente.nome.nome}}</a>
                    </td>
                    <td>
                        <a ui-sref="evolucao-paciente-detail({id:internacaoPaciente.evolucaoPaciente.id})">{{internacaoPaciente.evolucaoPaciente.descricao}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="internacao-paciente-detail({id:internacaoPaciente.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="internacao-paciente.edit({id:internacaoPaciente.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="internacao-paciente.delete({id:internacaoPaciente.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
