
<div>
    <h2><span translate="safhApp.dietas.detail.title">Dietas</span> {{vm.dietas.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="safhApp.dietas.dieta">Dieta</span></dt>
        <dd>
            <span>{{vm.dietas.dieta}}</span>
        </dd>
        <dt><span translate="safhApp.dietas.descricao">Descricao</span></dt>
        <dd>
            <span>{{vm.dietas.descricao}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
