
<div *ngIf="leitos">
    <h2><span jhiTranslate="safhApp.leitos.detail.title">Leitos</span> {{leitos.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="safhApp.leitos.leito">Leito</span></dt>
        <dd>
            <span>{{leitos.leito}}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.leitos.tipo">Tipo</span></dt>
        <dd>
            <span>{{leitos.tipo}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'leitos/'+ leitos.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
