
<div>
    <h2><span translate="safhApp.leitos.detail.title">Leitos</span> {{vm.leitos.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="safhApp.leitos.leito">Leito</span></dt>
        <dd>
            <span>{{vm.leitos.leito}}</span>
        </dd>
        <dt><span translate="safhApp.leitos.tipo">Tipo</span></dt>
        <dd>
            <span>{{vm.leitos.tipo}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
