
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMedicamentosLabel" translate="safhApp.medicamentos.home.createOrEditLabel">Create or edit a Medicamentos</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.medicamentos.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.medicamentos.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.medicamentos.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                    ng-model="vm.medicamentos.descricao"
                    required ng-maxlength="100" />
            <div ng-show="editForm.descricao.$invalid">
                <p class="help-block"
                    ng-show="editForm.descricao.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.descricao.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.medicamentos.registroMinisterioSaude" for="field_registroMinisterioSaude">Registro Ministerio Saude</label>
            <input type="text" class="form-control" name="registroMinisterioSaude" id="field_registroMinisterioSaude"
                    ng-model="vm.medicamentos.registroMinisterioSaude"
                    required ng-maxlength="60" />
            <div ng-show="editForm.registroMinisterioSaude.$invalid">
                <p class="help-block"
                    ng-show="editForm.registroMinisterioSaude.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.registroMinisterioSaude.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="60">
                    This field cannot be longer than 60 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.medicamentos.codigoBarras" for="field_codigoBarras">Codigo Barras</label>
            <input type="text" class="form-control" name="codigoBarras" id="field_codigoBarras"
                    ng-model="vm.medicamentos.codigoBarras"
                    required ng-maxlength="13" />
            <div ng-show="editForm.codigoBarras.$invalid">
                <p class="help-block"
                    ng-show="editForm.codigoBarras.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.codigoBarras.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="13">
                    This field cannot be longer than 13 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.medicamentos.qtdAtual" for="field_qtdAtual">Qtd Atual</label>
            <input type="number" class="form-control" name="qtdAtual" id="field_qtdAtual"
                    ng-model="vm.medicamentos.qtdAtual"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.medicamentos.qtdMin" for="field_qtdMin">Qtd Min</label>
            <input type="number" class="form-control" name="qtdMin" id="field_qtdMin"
                    ng-model="vm.medicamentos.qtdMin"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.medicamentos.qtdMax" for="field_qtdMax">Qtd Max</label>
            <input type="number" class="form-control" name="qtdMax" id="field_qtdMax"
                    ng-model="vm.medicamentos.qtdMax"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.medicamentos.observacoes" for="field_observacoes">Observacoes</label>
            <input type="text" class="form-control" name="observacoes" id="field_observacoes"
                    ng-model="vm.medicamentos.observacoes"
                    ng-maxlength="8000" />
            <div ng-show="editForm.observacoes.$invalid">
                <p class="help-block"
                    ng-show="editForm.observacoes.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="8000">
                    This field cannot be longer than 8000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.medicamentos.apresentacao" for="field_apresentacao">Apresentacao</label>
            <input type="text" class="form-control" name="apresentacao" id="field_apresentacao"
                    ng-model="vm.medicamentos.apresentacao"
                     />
        </div>

        <div class="form-group">
            <label translate="safhApp.medicamentos.posologiaPadrao" for="field_posologiaPadrao">Posologia Padrao</label>
            <select class="form-control" id="field_posologiaPadrao" name="posologiaPadrao" ng-model="vm.medicamentos.posologiaPadrao" ng-options="posologias as posologias.posologia for posologias in vm.posologias track by posologias.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="safhApp.medicamentos.fabricantes" for="field_fabricantes">Fabricantes</label>
            <select class="form-control" id="field_fabricantes" name="fabricantes" ng-model="vm.medicamentos.fabricantes" ng-options="fabricantes as fabricantes.fabricante for fabricantes in vm.fabricantes track by fabricantes.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
