<div>
    <h2 translate="safhApp.medicamentos.home.title">Medicamentos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="medicamentos.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="safhApp.medicamentos.home.createLabel">
                        Create new Medicamentos
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'safhApp.medicamentos.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descricao"><span translate="safhApp.medicamentos.descricao">Descricao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="registroMinisterioSaude"><span translate="safhApp.medicamentos.registroMinisterioSaude">Registro Ministerio Saude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codigoBarras"><span translate="safhApp.medicamentos.codigoBarras">Codigo Barras</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtdAtual"><span translate="safhApp.medicamentos.qtdAtual">Qtd Atual</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtdMin"><span translate="safhApp.medicamentos.qtdMin">Qtd Min</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtdMax"><span translate="safhApp.medicamentos.qtdMax">Qtd Max</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="observacoes"><span translate="safhApp.medicamentos.observacoes">Observacoes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="apresentacao"><span translate="safhApp.medicamentos.apresentacao">Apresentacao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="posologiaPadrao.posologia"><span translate="safhApp.medicamentos.posologiaPadrao">Posologia Padrao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fabricantes.fabricante"><span translate="safhApp.medicamentos.fabricantes">Fabricantes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="medicamentos in vm.medicamentos track by medicamentos.id">
                    <td><a ui-sref="medicamentos-detail({id:medicamentos.id})">{{medicamentos.id}}</a></td>
                    <td>{{medicamentos.descricao}}</td>
                    <td>{{medicamentos.registroMinisterioSaude}}</td>
                    <td>{{medicamentos.codigoBarras}}</td>
                    <td>{{medicamentos.qtdAtual}}</td>
                    <td>{{medicamentos.qtdMin}}</td>
                    <td>{{medicamentos.qtdMax}}</td>
                    <td>{{medicamentos.observacoes}}</td>
                    <td>{{medicamentos.apresentacao}}</td>
                    <td>
                        <a ui-sref="posologias-detail({id:medicamentos.posologiaPadrao.id})">{{medicamentos.posologiaPadrao.posologia}}</a>
                    </td>
                    <td>
                        <a ui-sref="fabricantes-detail({id:medicamentos.fabricantes.id})">{{medicamentos.fabricantes.fabricante}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="medicamentos-detail({id:medicamentos.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="medicamentos.edit({id:medicamentos.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="medicamentos.delete({id:medicamentos.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
