
<div>
    <h2><span translate="safhApp.medicamentos.detail.title">Medicamentos</span> {{vm.medicamentos.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="safhApp.medicamentos.descricao">Descricao</span></dt>
        <dd>
            <span>{{vm.medicamentos.descricao}}</span>
        </dd>
        <dt><span translate="safhApp.medicamentos.registroMinisterioSaude">Registro Ministerio Saude</span></dt>
        <dd>
            <span>{{vm.medicamentos.registroMinisterioSaude}}</span>
        </dd>
        <dt><span translate="safhApp.medicamentos.codigoBarras">Codigo Barras</span></dt>
        <dd>
            <span>{{vm.medicamentos.codigoBarras}}</span>
        </dd>
        <dt><span translate="safhApp.medicamentos.qtdAtual">Qtd Atual</span></dt>
        <dd>
            <span>{{vm.medicamentos.qtdAtual}}</span>
        </dd>
        <dt><span translate="safhApp.medicamentos.qtdMin">Qtd Min</span></dt>
        <dd>
            <span>{{vm.medicamentos.qtdMin}}</span>
        </dd>
        <dt><span translate="safhApp.medicamentos.qtdMax">Qtd Max</span></dt>
        <dd>
            <span>{{vm.medicamentos.qtdMax}}</span>
        </dd>
        <dt><span translate="safhApp.medicamentos.observacoes">Observacoes</span></dt>
        <dd>
            <span>{{vm.medicamentos.observacoes}}</span>
        </dd>
        <dt><span translate="safhApp.medicamentos.apresentacao">Apresentacao</span></dt>
        <dd>
            <span>{{vm.medicamentos.apresentacao}}</span>
        </dd>
        <dt><span translate="safhApp.medicamentos.posologiaPadrao">Posologia Padrao</span></dt>
        <dd>
            <a ui-sref="posologias-detail({id:vm.medicamentos.posologiaPadrao.id})">{{vm.medicamentos.posologiaPadrao.posologia}}</a>
        </dd>
        <dt><span translate="safhApp.medicamentos.fabricantes">Fabricantes</span></dt>
        <dd>
            <a ui-sref="fabricantes-detail({id:vm.medicamentos.fabricantes.id})">{{vm.medicamentos.fabricantes.fabricante}}</a>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
