
<div>
    <h2><span translate="safhApp.clinicas.detail.title">Clinicas</span> {{vm.clinicas.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="safhApp.clinicas.clinica">Clinica</span></dt>
        <dd>
            <span>{{vm.clinicas.clinica}}</span>
        </dd>
        <dt><span translate="safhApp.clinicas.descricao">Descricao</span></dt>
        <dd>
            <span>{{vm.clinicas.descricao}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
