
<div *ngIf="clinicas">
    <h2><span jhiTranslate="safhApp.clinicas.detail.title">Clinicas</span> {{clinicas.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="safhApp.clinicas.clinica">Clinica</span></dt>
        <dd>
            <span>{{clinicas.clinica}}</span>
        </dd>
        <dt><span jhiTranslate="safhApp.clinicas.descricao">Descricao</span></dt>
        <dd>
            <span>{{clinicas.descricao}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'clinicas/'+ clinicas.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
