
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClinicasLabel" translate="safhApp.clinicas.home.createOrEditLabel">Create or edit a Clinicas</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.clinicas.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.clinicas.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.clinicas.clinica" for="field_clinica">Clinica</label>
            <input type="text" class="form-control" name="clinica" id="field_clinica"
                    ng-model="vm.clinicas.clinica"
                    required />
            <div ng-show="editForm.clinica.$invalid">
                <p class="help-block"
                    ng-show="editForm.clinica.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.clinicas.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                    ng-model="vm.clinicas.descricao"
                     />
        </div>

        <div class="form-group">
            <label translate="safhApp.clinicas.leitos" for="field_leitos">Leitos</label>
            <select class="form-control" id="field_leitos" name="leitos" ng-model="vm.clinicas.leitos" ng-options="leitos as leitos.descricao for leitos in vm.leitos track by leitos.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="safhApp.clinicas.enfermarias" for="field_enfermarias">Enfermarias</label>
            <select class="form-control" id="field_enfermarias" name="enfermarias" ng-model="vm.clinicas.enfermarias" ng-options="enfermarias as enfermarias.enfermaria for enfermarias in vm.enfermarias track by enfermarias.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
