<div>
    <h2 translate="safhApp.medicos.home.title">Medicos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="medicos.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="safhApp.medicos.home.createLabel">
                        Create new Medicos
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'safhApp.medicos.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nome"><span translate="safhApp.medicos.nome">Nome</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="crm"><span translate="safhApp.medicos.crm">Crm</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cpf"><span translate="safhApp.medicos.cpf">Cpf</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span translate="safhApp.medicos.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cep"><span translate="safhApp.medicos.cep">Cep</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="logradouro"><span translate="safhApp.medicos.logradouro">Logradouro</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numero"><span translate="safhApp.medicos.numero">Numero</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="complemento"><span translate="safhApp.medicos.complemento">Complemento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bairro"><span translate="safhApp.medicos.bairro">Bairro</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cidade"><span translate="safhApp.medicos.cidade">Cidade</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="uF"><span translate="safhApp.medicos.uF">U F</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="especialidades.especialidade"><span translate="safhApp.medicos.especialidades">Especialidades</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="medicos in vm.medicos track by medicos.id">
                    <td><a ui-sref="medicos-detail({id:medicos.id})">{{medicos.id}}</a></td>
                    <td>{{medicos.nome}}</td>
                    <td>{{medicos.crm}}</td>
                    <td>{{medicos.cpf}}</td>
                    <td>{{medicos.email}}</td>
                    <td>{{medicos.cep}}</td>
                    <td>{{medicos.logradouro}}</td>
                    <td>{{medicos.numero}}</td>
                    <td>{{medicos.complemento}}</td>
                    <td>{{medicos.bairro}}</td>
                    <td>{{medicos.cidade}}</td>
                    <td translate="{{'safhApp.Estados.' + medicos.uF}}">{{medicos.uF}}</td>
                    <td>
                        <a ui-sref="especialidades-detail({id:medicos.especialidades.id})">{{medicos.especialidades.especialidade}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="medicos-detail({id:medicos.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="medicos.edit({id:medicos.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="medicos.delete({id:medicos.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
