
<div>
    <h2><span translate="safhApp.medicos.detail.title">Medicos</span> {{vm.medicos.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="safhApp.medicos.nome">Nome</span></dt>
        <dd>
            <span>{{vm.medicos.nome}}</span>
        </dd>
        <dt><span translate="safhApp.medicos.crm">Crm</span></dt>
        <dd>
            <span>{{vm.medicos.crm}}</span>
        </dd>
        <dt><span translate="safhApp.medicos.cpf">Cpf</span></dt>
        <dd>
            <span>{{vm.medicos.cpf}}</span>
        </dd>
        <dt><span translate="safhApp.medicos.email">Email</span></dt>
        <dd>
            <span>{{vm.medicos.email}}</span>
        </dd>
        <dt><span translate="safhApp.medicos.cep">Cep</span></dt>
        <dd>
            <span>{{vm.medicos.cep}}</span>
        </dd>
        <dt><span translate="safhApp.medicos.logradouro">Logradouro</span></dt>
        <dd>
            <span>{{vm.medicos.logradouro}}</span>
        </dd>
        <dt><span translate="safhApp.medicos.numero">Numero</span></dt>
        <dd>
            <span>{{vm.medicos.numero}}</span>
        </dd>
        <dt><span translate="safhApp.medicos.complemento">Complemento</span></dt>
        <dd>
            <span>{{vm.medicos.complemento}}</span>
        </dd>
        <dt><span translate="safhApp.medicos.bairro">Bairro</span></dt>
        <dd>
            <span>{{vm.medicos.bairro}}</span>
        </dd>
        <dt><span translate="safhApp.medicos.cidade">Cidade</span></dt>
        <dd>
            <span>{{vm.medicos.cidade}}</span>
        </dd>
        <dt><span translate="safhApp.medicos.uF">U F</span></dt>
        <dd>
            <span translate="{{'safhApp.Estados.' + vm.medicos.uF}}">{{vm.medicos.uF}}</span>
        </dd>
        <dt><span translate="safhApp.medicos.especialidades">Especialidades</span></dt>
        <dd>
            <a ui-sref="especialidades-detail({id:vm.medicos.especialidades.id})">{{vm.medicos.especialidades.especialidade}}</a>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
