
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMedicosLabel" translate="safhApp.medicos.home.createOrEditLabel">Create or edit a Medicos</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.medicos.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.medicos.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.medicos.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.medicos.nome"
                    required />
            <div ng-show="editForm.nome.$invalid">
                <p class="help-block"
                    ng-show="editForm.nome.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.medicos.crm" for="field_crm">Crm</label>
            <input type="text" class="form-control" name="crm" id="field_crm"
                    ng-model="vm.medicos.crm"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.medicos.cpf" for="field_cpf">Cpf</label>
            <input type="text" class="form-control" name="cpf" id="field_cpf"
                    ng-model="vm.medicos.cpf"
                    ng-pattern="/[0-9]{3}\.?[0-9]{3}\.?[0-9]{3}\-?[0-9]{2}/" />
            <div ng-show="editForm.cpf.$invalid">
                <p class="help-block"
                    ng-show="editForm.cpf.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="[0-9]{3}\.?[0-9]{3}\.?[0-9]{3}\-?[0-9]{2}">
                    This field should follow pattern "[0-9]{3}\.?[0-9]{3}\.?[0-9]{3}\-?[0-9]{2}".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.medicos.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.medicos.email"
                    ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" />
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    This field should follow pattern "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$".
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="safhApp.medicos.especialidades" for="field_especialidades">Especialidades</label>
            <select class="form-control" id="field_especialidades" name="especialidades" ng-model="vm.medicos.especialidades" ng-options="especialidades as especialidades.descricao for especialidades in vm.especialidades track by especialidades.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
