<div>
    <h2>
        <span jhiTranslate="safhApp.medicos.home.title">Medicos</span>
        <button class="btn btn-primary float-right jh-create-entity create-medicos" [routerLink]="['/', { outlets: { popup: ['medicos-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="safhApp.medicos.home.createLabel">
            Create new Medicos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'safhApp.medicos.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="medicos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nome"><span jhiTranslate="safhApp.medicos.nome">Nome</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="crm"><span jhiTranslate="safhApp.medicos.crm">Crm</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cpf"><span jhiTranslate="safhApp.medicos.cpf">Cpf</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="safhApp.medicos.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cep"><span jhiTranslate="safhApp.medicos.cep">Cep</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="logradouro"><span jhiTranslate="safhApp.medicos.logradouro">Logradouro</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numero"><span jhiTranslate="safhApp.medicos.numero">Numero</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="complemento"><span jhiTranslate="safhApp.medicos.complemento">Complemento</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bairro"><span jhiTranslate="safhApp.medicos.bairro">Bairro</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cidade"><span jhiTranslate="safhApp.medicos.cidade">Cidade</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="uF"><span jhiTranslate="safhApp.medicos.uF">U F</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="especialidades.especialidade"><span jhiTranslate="safhApp.medicos.especialidades">Especialidades</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let medicos of medicos ;trackBy: trackId">
                <td><a [routerLink]="['../medicos', medicos.id ]">{{medicos.id}}</a></td>
                <td>{{medicos.nome}}</td>
                <td>{{medicos.crm}}</td>
                <td>{{medicos.cpf}}</td>
                <td>{{medicos.email}}</td>
                <td>{{medicos.cep}}</td>
                <td>{{medicos.logradouro}}</td>
                <td>{{medicos.numero}}</td>
                <td>{{medicos.complemento}}</td>
                <td>{{medicos.bairro}}</td>
                <td>{{medicos.cidade}}</td>
                <td jhiTranslate="{{'safhApp.Estados.' + medicos.uF}}">{{medicos.uF}}</td>
                <td>
                    <div *ngIf="medicos.especialidades">
                        <a [routerLink]="['../especialidades', medicos.especialidades?.id ]" >{{medicos.especialidades?.especialidade}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../medicos', medicos.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'medicos/'+ medicos.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'medicos/'+ medicos.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
