<div>
    <h2 translate="safhApp.pacientes.home.title">Pacientes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pacientes.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="safhApp.pacientes.home.createLabel">
                        Create new Pacientes
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'safhApp.pacientes.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prontuario"><span translate="safhApp.pacientes.prontuario">Prontuario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nome"><span translate="safhApp.pacientes.nome">Nome</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cpf"><span translate="safhApp.pacientes.cpf">Cpf</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span translate="safhApp.pacientes.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cep"><span translate="safhApp.pacientes.cep">Cep</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="logradouro"><span translate="safhApp.pacientes.logradouro">Logradouro</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numero"><span translate="safhApp.pacientes.numero">Numero</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="complemento"><span translate="safhApp.pacientes.complemento">Complemento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bairro"><span translate="safhApp.pacientes.bairro">Bairro</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cidade"><span translate="safhApp.pacientes.cidade">Cidade</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="uF"><span translate="safhApp.pacientes.uF">U F</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="clinicas.clinica"><span translate="safhApp.pacientes.clinicas">Clinicas</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enfermarias.enfermaria"><span translate="safhApp.pacientes.enfermarias">Enfermarias</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="leitos.leito"><span translate="safhApp.pacientes.leitos">Leitos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="pacientes in vm.pacientes track by pacientes.id">
                    <td><a ui-sref="pacientes-detail({id:pacientes.id})">{{pacientes.id}}</a></td>
                    <td>{{pacientes.prontuario}}</td>
                    <td>{{pacientes.nome}}</td>
                    <td>{{pacientes.cpf}}</td>
                    <td>{{pacientes.email}}</td>
                    <td>{{pacientes.cep}}</td>
                    <td>{{pacientes.logradouro}}</td>
                    <td>{{pacientes.numero}}</td>
                    <td>{{pacientes.complemento}}</td>
                    <td>{{pacientes.bairro}}</td>
                    <td>{{pacientes.cidade}}</td>
                    <td translate="{{'safhApp.Estados.' + pacientes.uF}}">{{pacientes.uF}}</td>
                    <td>
                        <a ui-sref="clinicas-detail({id:pacientes.clinicas.id})">{{pacientes.clinicas.clinica}}</a>
                    </td>
                    <td>
                        <a ui-sref="enfermarias-detail({id:pacientes.enfermarias.id})">{{pacientes.enfermarias.enfermaria}}</a>
                    </td>
                    <td>
                        <a ui-sref="leitos-detail({id:pacientes.leitos.id})">{{pacientes.leitos.leito}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pacientes-detail({id:pacientes.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pacientes.edit({id:pacientes.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pacientes.delete({id:pacientes.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
