
<div>
    <h2><span translate="safhApp.pacientes.detail.title">Pacientes</span> {{vm.pacientes.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="safhApp.pacientes.prontuario">Prontuario</span></dt>
        <dd>
            <span>{{vm.pacientes.prontuario}}</span>
        </dd>
        <dt><span translate="safhApp.pacientes.nome">Nome</span></dt>
        <dd>
            <span>{{vm.pacientes.nome}}</span>
        </dd>
        <dt><span translate="safhApp.pacientes.cpf">Cpf</span></dt>
        <dd>
            <span>{{vm.pacientes.cpf}}</span>
        </dd>
        <dt><span translate="safhApp.pacientes.email">Email</span></dt>
        <dd>
            <span>{{vm.pacientes.email}}</span>
        </dd>
        <dt><span translate="safhApp.pacientes.cep">Cep</span></dt>
        <dd>
            <span>{{vm.pacientes.cep}}</span>
        </dd>
        <dt><span translate="safhApp.pacientes.logradouro">Logradouro</span></dt>
        <dd>
            <span>{{vm.pacientes.logradouro}}</span>
        </dd>
        <dt><span translate="safhApp.pacientes.numero">Numero</span></dt>
        <dd>
            <span>{{vm.pacientes.numero}}</span>
        </dd>
        <dt><span translate="safhApp.pacientes.complemento">Complemento</span></dt>
        <dd>
            <span>{{vm.pacientes.complemento}}</span>
        </dd>
        <dt><span translate="safhApp.pacientes.bairro">Bairro</span></dt>
        <dd>
            <span>{{vm.pacientes.bairro}}</span>
        </dd>
        <dt><span translate="safhApp.pacientes.cidade">Cidade</span></dt>
        <dd>
            <span>{{vm.pacientes.cidade}}</span>
        </dd>
        <dt><span translate="safhApp.pacientes.uF">U F</span></dt>
        <dd>
            <span translate="{{'safhApp.Estados.' + vm.pacientes.uF}}">{{vm.pacientes.uF}}</span>
        </dd>
        <dt><span translate="safhApp.pacientes.clinicas">Clinicas</span></dt>
        <dd>
            <a ui-sref="clinicas-detail({id:vm.pacientes.clinicas.id})">{{vm.pacientes.clinicas.clinica}}</a>
        </dd>
        <dt><span translate="safhApp.pacientes.enfermarias">Enfermarias</span></dt>
        <dd>
            <a ui-sref="enfermarias-detail({id:vm.pacientes.enfermarias.id})">{{vm.pacientes.enfermarias.enfermaria}}</a>
        </dd>
        <dt><span translate="safhApp.pacientes.leitos">Leitos</span></dt>
        <dd>
            <a ui-sref="leitos-detail({id:vm.pacientes.leitos.id})">{{vm.pacientes.leitos.leito}}</a>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
