
<div>
    <h2><span translate="safhApp.enfermarias.detail.title">Enfermarias</span> {{vm.enfermarias.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="safhApp.enfermarias.enfermaria">Enfermaria</span></dt>
        <dd>
            <span>{{vm.enfermarias.enfermaria}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
