
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPrescricaoPacienteLabel" translate="safhApp.prescricaoPaciente.home.createOrEditLabel">Create or edit a Prescricao Paciente</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.prescricaoPaciente.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.prescricaoPaciente.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.prescricaoPaciente.dataEntrada" for="field_dataEntrada">Data Entrada</label>
                <div class="input-group">
                    <input id="field_dataEntrada" type="text" class="form-control" name="dataEntrada" uib-datepicker-popup="{{dateformat}}" ng-model="vm.prescricaoPaciente.dataEntrada" is-open="vm.datePickerOpenStatus.dataEntrada"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataEntrada')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dataEntrada.$invalid">
                <p class="help-block"
                    ng-show="editForm.dataEntrada.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.prescricaoPaciente.quant" for="field_quant">Quant</label>
            <input type="number" class="form-control" name="quant" id="field_quant"
                    ng-model="vm.prescricaoPaciente.quant"
                    required />
            <div ng-show="editForm.quant.$invalid">
                <p class="help-block"
                    ng-show="editForm.quant.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.quant.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="safhApp.prescricaoPaciente.obse" for="field_obse">Obse</label>
            <input type="text" class="form-control" name="obse" id="field_obse"
                    ng-model="vm.prescricaoPaciente.obse"
                     />
        </div>

        <div class="form-group">
            <label translate="safhApp.prescricaoPaciente.pacientes" for="field_pacientes">Pacientes</label>
            <select class="form-control" id="field_pacientes" name="pacientes" ng-model="vm.prescricaoPaciente.pacientes" ng-options="pacientes as pacientes.nome for pacientes in vm.pacientes track by pacientes.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="safhApp.prescricaoPaciente.medicamentos" for="field_medicamentos">Medicamentos</label>
            <select class="form-control" id="field_medicamentos" name="medicamentos" ng-model="vm.prescricaoPaciente.medicamentos" ng-options="medicamentos as medicamentos.descricao for medicamentos in vm.medicamentos track by medicamentos.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="safhApp.prescricaoPaciente.posologias" for="field_posologias">Posologias</label>
            <select class="form-control" id="field_posologias" name="posologias" ng-model="vm.prescricaoPaciente.posologias" ng-options="posologias as posologias.descricao for posologias in vm.posologias track by posologias.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="safhApp.prescricaoPaciente.dietas" for="field_dietas">Dietas</label>
            <select class="form-control" id="field_dietas" name="dietas" ng-model="vm.prescricaoPaciente.dietas" ng-options="dietas as dietas.descricao for dietas in vm.dietas track by dietas.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
