<div>
    <h2 translate="safhApp.prescricaoPaciente.home.title">Prescricao Pacientes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="prescricao-paciente.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="safhApp.prescricaoPaciente.home.createLabel">
                        Create new Prescricao Paciente
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'safhApp.prescricaoPaciente.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataEntrada"><span translate="safhApp.prescricaoPaciente.dataEntrada">Data Entrada</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quant"><span translate="safhApp.prescricaoPaciente.quant">Quant</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pacientes.nome"><span translate="safhApp.prescricaoPaciente.pacientes">Pacientes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="medicamentos.descricao"><span translate="safhApp.prescricaoPaciente.medicamentos">Medicamentos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="posologias.descricao"><span translate="safhApp.prescricaoPaciente.posologias">Posologias</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dietas.descricao"><span translate="safhApp.prescricaoPaciente.dietas">Dietas</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="prescricaoPaciente in vm.prescricaoPacientes track by prescricaoPaciente.id">
                    <td><a ui-sref="prescricao-paciente-detail({id:prescricaoPaciente.id})">{{prescricaoPaciente.id}}</a></td>
                        <td>{{prescricaoPaciente.dataEntrada | date:'mediumDate'}}</td>
                    <td>{{prescricaoPaciente.quant}}</td>
                    <td>
                        <a ui-sref="pacientes-detail({id:prescricaoPaciente.pacientes.id})">{{prescricaoPaciente.pacientes.nome}}</a>
                    </td>
                    <td>
                        <a ui-sref="medicamentos-detail({id:prescricaoPaciente.medicamentos.id})">{{prescricaoPaciente.medicamentos.descricao}}</a>
                    </td>
                    <td>
                        <a ui-sref="posologias-detail({id:prescricaoPaciente.posologias.id})">{{prescricaoPaciente.posologias.descricao}}</a>
                    </td>
                    <td>
                        <a ui-sref="dietas-detail({id:prescricaoPaciente.dietas.id})">{{prescricaoPaciente.dietas.descricao}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="prescricao-paciente-detail({id:prescricaoPaciente.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="prescricao-paciente.edit({id:prescricaoPaciente.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="prescricao-paciente.delete({id:prescricaoPaciente.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
