
<div>
    <h2><span translate="safhApp.fabricantes.detail.title">Fabricantes</span> {{vm.fabricantes.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="safhApp.fabricantes.fabricante">Fabricante</span></dt>
        <dd>
            <span>{{vm.fabricantes.fabricante}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
